<% include ../partials/header %>


<div id="info">
    <h1><%= student.firstName %> - <%= student.title %></h1>
    <div>
      <img src="<%= student.image%> " alt="<%= student.firstName %>">
    </div>
  <blockquote class="member_quote"><p><%= student.favoriteQuote %></p></blockquote>
  <div class="member_whySoftwareDeveloper">
    <h3>I love software developer because:</h3>
    <span><%= student.whySoftwareDeveloper %></span>
  </div>
  <div class="member_longTermVision">
    <h3>Long term vision:</h3>
    <span><%= student.longTermVision %></span>
  </div>
  <div class="member_motivatesMe">
    <h3>What motivate me:</h3>
    <span><%= student.motivatesMe %></span>
  </div>
  <div class="member_skills">
    <% student.skills.forEach(skill => { %>
      <label class="skill">
        <%= skill %>
      </label>
   <% }) %>
  </div>
  
  <a id="new-comment" class="btn btn-success" href="/student/<%= student._id %>/comments/new">Add new comment</a>
  <div class="container">
    <div class="card bg-light">
      
      <% student.comments.forEach(function(comment){ %>
              <div class="col-md-12">
                  <strong><%= comment.author %></strong>
                  <p><%= comment.text %></p>
              </div>
      <% }) %>
    </div>
  </div>
  
  <button id='delete-button' data_id='<%= student._id %>'
          type="button" class="btn btn-danger">Delete student</button>
</div>

<% include ../partials/footer %>